body{
    font-size: 0.875rem;
    line-height:1rem;
    min-height: 100vh;
    position: relative;
}

img{
    width: 100%;
}
a{
    transition: all 0.5s;
}

a:hover{
    opacity: 0.5;
}

dt{
    font-weight: normal;
    width: 100%;
}

.wrapper {
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 40px;
}

.content {
    padding-top: 120px;
    padding-bottom: 160px;
}

.header {
    width: 100%;
    height: 80px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10
  }

.hamburger {
    width: 30px;
    height: 30px;
    position: relative;
    transition: all 0.5s;
    cursor: pointer;
}

.hamburger span {
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #333;
    border-radius: 4px;
    transition: all 0.5s;
}

.hamburger span:nth-child(1) {
    top: 10px;
}

.hamburger span:nth-child(2) {
    bottom: 10px;
}

.maviMenu{
    padding: 36px 50px;
}

.naviItem{
    margin-bottom: 14px;
}

.naviOpened {
    width: 100%;
    height: 100vh;
    background-color:rgba(0, 0, 0, 0.8);
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    visibility:hidden;
    opacity: 0;
    //transition: opacity 0.8s ease, visibility 0.8s ease;
    transition: all 0.5s;
}

.naviOpened.active{
    visibility:visible;
    opacity: 1;
}

.closeBtn span:nth-child(1) {
    top: 20px;
    right: 0;
    background: #fff;
    transform: rotate(-45deg);
    position: relative;
    z-index: 30;
}

.closeBtn span:nth-child(2){
    top: 20px;
    right: 0;
    background: #fff;
    transform: rotate(45deg);
    position: relative;
    z-index: 30;
}

.main{
    margin-top: 80px;
    margin-bottom: 160px;
}

.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px 40px;
}

.productText{
    margin-top: 10px;
    font-size: 0.75rem;
}

.linkText{
    display: block;
    font-size: 0.85rem;
    text-align: center;
    margin-top: 40px;
}

.footer{
    display: flex;
    justify-content: space-between;
    position: absolute;
    margin-bottom: 20px;
    left: 0;
    right: 0;
    bottom: 0;
}

.footerMenu{
    display: flex;
    font-size: 0.75rem;
}

.footerItem{
    margin-right: 30px;
}

.copyright{
    font-size: 0.6rem;
}

.pageTitle{
    margin-bottom: 30px;

}

.productContainer{
    display: flex;
    max-width: 800px;
    justify-content: space-between;
    margin-bottom: 60px;
}

.productLeft{
    width: 50%;
}
.productRight{
    width: 42%;
}

.itemText{
    line-height: 1.3rem;
    margin-bottom: 30px;
}

.itemDt{
    line-height: 1.3rem;  
}
.itemDd{
    line-height: 1.3rem;  
}

dl{
    display: flex;
    flex-wrap: wrap;
}

dt{
    width: 30%;
}

dd{
    width: 70%;
}

.contents{
    max-width: 600px;
}

.aboutText{
    line-height:2rem;
    margin-bottom: 30px;

}
.company dl{
    margin-bottom: 20px;
}
.company dt{
    padding: 20px 10px;
    border-bottom: gainsboro solid 1px;

}
.company dd{
    padding: 20px 10px;
    border-bottom: gainsboro solid 1px;
}

.company dd:last-of-type {
    border-bottom: none;
}
.company dt:last-of-type {
    border-bottom: none;
}

.map{
    filter: grayscale(100%);
}

.productPages{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.pageNumber{
    margin-right: 20px;
}

@media screen and (max-width: 900px) {
    .container{
        grid-template-columns: repeat(2, 1fr);
    }
    .footer{
       flex-direction: column;
    }
    .company dl{
        flex-direction: column; 
    }
    .company dt{
        padding-bottom: 5px;
        border-bottom:none;
        width: 100%;
    }
    .company dd{
        padding-bottom: 5px;
        border-bottom:none;
        width: 100%;
    }

    .footerMenu{
        margin-bottom: 5px;
    }

    .productContainer{
        flex-direction: column;
    }

    .productLeft{
        width: 100%;
        margin-bottom: 30px;
    }
    .productRight{
        width: 100%;
    }

}



